<mat-card *ngIf="productModel" class="example-card">
    <img
        mat-card-image
        alt="{{ productModel.subCategory }}"
        class="card-image"
        [src]="returnCurrentImageSrc()"
    />
    <button mat-mini-fab color="basic" class="card-button__left" (click)="previousImage()">
        &larr;
    </button>
    <button mat-mini-fab color="basic" class="card-button__right" (click)="nextImage()">
        &rarr;
    </button>

    <mat-card-content>
        <mat-card-title>{{ productModel.name }}</mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-title class="card-price">
            {{ productModel.price | currency : 'USD' }}
        </mat-card-title>
    </mat-card-content>

    <button mat-button (click)="buyProduct(); $event.stopPropagation()">BUY</button>
</mat-card>
