.product-card {
    display: flex;
    max-width: 400px;
    margin: 20px;
}

.product-card-price {
    width: 40%;
    align-self: flex-start;
    margin: 20px;
    font-size: 22px;
}

.product-card-button {
    align-self: flex-end;
    width: 30%;
    margin: 5px;
    padding: 15px;
    background-color: #ffa218;
    border: #ffa218;
    border-radius: 3px;
    /*box-shadow: 2px 1px 1px #fc8507;*/
    cursor: pointer;
}

.product-card-button:hover {
    background-color: #fc8507;
    border: #fc8507;
}

.product-card-button:active {
    background-color: #ffa218;
    border: #ffa218;
}
