<app-header [applicationConfig]="applicationConfig"></app-header>
<!-- <app-sidenav #sidenavComponent [navigationTemplate]="navigationTemplate"></app-sidenav> -->
<app-sidenav #sidenavComponent>
    <ng-template #navigationTemplate>
        <h2>{{ applicationConfig.title }}</h2>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </ng-template>

    <!-- <div #first>
        <div #last></div>
    </div> -->
</app-sidenav>
<!-- <app-products-list></app-products-list> -->

<!-- Homework stand -->

<!-- Switch template -->

<!-- <app-popup-host [template]="switchTemplate ? first : second"></app-popup-host> -->

<!-- or -->

<!-- Close template -->

<!-- <app-popup-host [template]="!closeTemplate ? first : null"></app-popup-host> -->

<ng-template #first>
    <mat-card class="card">
        <mat-card-header>
            <h2>First</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Is first template</p>
        </mat-card-content>
    </mat-card>
</ng-template>
<ng-template #second>
    <mat-card class="card">
        <mat-card-header>
            <h2>Second</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Is second template</p>
        </mat-card-content>
    </mat-card>
</ng-template>

<app-popup-host [templateRef]="switchTemplate ? first : null"></app-popup-host>

<!-- <app-popup-host [templateRef]="switchTemplate ? first : second"></app-popup-host> -->
