<!-- <ng-template [ngIf]="productsFromGet" [ngIfElse]="loader" let-productsFromNgIf="ngIf"> -->
<!-- <ng-template [appDumpNgIf]="productsFromGet" let-productsFromNgIf="appDumpNgIf"> -->

<!-- <ng-template [ngIf]="productsFromGet" [ngIfElse]="loader" let-productsFromNgIf> -->
<ng-template let-productsFromNgIf [appDumpNgIf]="productsFromGet">
    <div
        appScrollWithLoad
        class="scroll-container"
        (appScrollWithLoadChange)="loadProducts($event)"
    >
        <app-card
            *ngFor="let prod of productsFromGet"
            class="card"
            [product]="prod"
            (buy)="onProductBuy($event)"
        ></app-card>
        <!-- <app-card class="card" [product]="productsFromNgIf[1]" (buy)="onProductBuy($event)"></app-card>
        <app-card class="card" [product]="productsFromNgIf[2]" (buy)="onProductBuy($event)"></app-card>
        <app-card class="card" [product]="productsFromNgIf[3]" (buy)="onProductBuy($event)"></app-card>
        <app-card class="card" [product]="productsFromNgIf[4]" (buy)="onProductBuy($event)"></app-card> -->
    </div>
</ng-template>

<ng-template #loader>
    <mat-spinner></mat-spinner>
</ng-template>
<!-- <ng-template [ngIf]="!products">
    <mat-spinner></mat-spinner>
</ng-template> -->
